<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <link rel="icon" href="../../favicon.ico">


    <title>PO System Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'posystem/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'posystem/bootstrap/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'posystem/bootstrap/dashboard.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'posystem/bootstrap/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{club_name}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="/vote">Vote for Products</a></li>
            <li><a href="/request">Request a New Product</a></li>
            <li class="active"><a href="/export">Export to PO Request Form</a></li>
            <li><a href="/status">View Product Statuses</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Choose Export Form and Vendor</h1>
          <h1>This Page is Still Under Development</h1>
          <form action="/export/pregenerate" method="post" id="form">
            {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputEmail4">Form Type:</label><br>
              <input type="radio" name="form" value="ASB PO Order Form" checked> ASB PO Order Form<br>
              <input type="radio" name="form" value="PO Requsition Form"> PO Requsition Form<br>
              <input type="radio" name="form" value="other"> Other <br> <br>

              <button type="submit" class="btn btn-primary">Request</button>
            </div>
            <div class="form-group col-md-2">
              <label for="inputEmail4">Select Vendor:</label><br>
              <select class="form-control vendorlist" id="vendor" name = "vendor">
                <option value="Select Vendor">Select Vendor</option>
                {% for vendor in vendor %}
                <option value="{{vendor.id}}">{{vendor.vendor_name}}</option>
                {% endfor %}
              </select>
              <button type="button" name="button" id="showvendors" >Show Products</button>
            </div>
          </div>
          <div class="form-row" id=row>
            <div class="form-group col-md-9">
              <div class="table-responsive">
                <table class="table table-striped" id="myTable">

                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Product Description</th>
                      <th>Quantity</th>
                      <th>Unit Cost</th>
                      <th>Final Cost</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bootstrap/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'posystem/bootstrap//js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'posystem/bootstrap/js/vendor/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'posystem/bootstrap/js/ie10-viewport-bug-workaround.js' %}"></script>

    <script language="JavaScript" type="text/javascript" src="{% static 'posystem/js/export.js' %}"></script>

  </body>
</html>
