<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <link rel="icon" href="../../favicon.ico">

    <title>PO System Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'posystem/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'posystem/bootstrap/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'posystem/bootstrap/dashboard.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'posystem/bootstrap/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Skyline Spartabots</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="/vote">Vote for Products</a></li>
            <li><a href="/request">Request a New Product</a></li>
            <li class="active"><a href="/export">Export to PO Request Form</a></li>
            <li><a href="/status">View Product Statuses</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Choose Export Form</h1>
          <form action="/request/add" method="post">
            {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-1">
              <label for="inputEmail4">Quantity:</label>
              <input type="number" class="form-control" id="quantity" placeholder="Quantity" name="quantity">
            </div>
            <div class="form-group col-md-3">
              <label for="inputEmail4">Product Number:</label>
              <input type="text" class="form-control" id="number" placeholder="Product Number" name=product_number>
            </div>
            <div class="form-group col-md-8">
              <label for="inputPassword4">Product Description:</label>
              <input type="text" class="form-control" id="description" placeholder="Product Description" name="product_description">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputEmail4">Unit Cost:</label>
              <input type="number" class="form-control" id="unitcost" min="0" step="0.01" value="0.00" name="unit_cost" pattern="^\d+(?:\.\d{1,2})?$" onblur="
          this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'">
            </div>
            <!-- <div class="form-group col-md-2">
              <fieldset disabled>
              <label for="disabledTextInput">Final Cost:</label>
              <input type="email" class="form-control" id="finalcost" placeholder="Final Cost" name="final_cost">
              </fieldset>
            </div> -->
          </div>
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Request</button>
          </div>
          </form>
        </div>
      </div>
      <!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <form action="index.html" method="post">
          <fieldset disabled>
            <div class="form-group">
              <label for="disabledTextInput">Disabled input</label>
              <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>
            <div class="form-group">
              <label for="disabledSelect">Disabled select menu</label>
              <select id="disabledSelect" class="form-control">
                <option>Disabled select</option>
              </select>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Can't check this
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </form>
      </div> -->
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bootstrap/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'posystem/bootstrap//js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'posystem/bootstrap/js/vendor/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'posystem/bootstrap/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
